*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif
}

header{
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: white;
}
/* menu */
nav{
   margin: 20px;
}

.ul-menu{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.li1{
    display:inline-block;
    list-style: none;
}

#nav-left{
    display:inline-block;
    margin-top: -10px;
    width: 40%;
    vertical-align: middle;
    
}

#nav-right{
    vertical-align: middle;
    float: right;
    margin-right: 40px;
    margin-top: 1px;
}
/* button */
.blu{
    background-color: rgb(0, 68, 255);
    color: white;
    border: 7px solid rgb(0, 68, 255);
   
}
 /* prima sez */
.prima-sez{
    background-color: rgb(146, 173, 224);
    height: 90vh;
    width: 100%;
    font-size: 35px;
}

.tit{
    width: 85%;
    height: 600px;
    margin-left: 10%;
    padding-top: 80px;
}

.paragrafo1{
    padding-top: 30px;
    width: 40%;
    font-size: 15px;
    text-align: left;
}

#but-par1{
    padding-top: 10px;
}

#but-par1 p{
    padding-top: 10px;
    font-size: 15px;

}

.fa-arrow-down{
    margin-top: 20px;
    color: black;
}

.tit img{
    float: right;
    height: 450px;
    margin-left: 50px;
    margin-top: 50px;
}
/* seconda sez */
.sec-sez{
    height: 230vh;
    width: 70%;
    margin: auto;
}

.sec-sez h1{
    padding-top: 150px;
    font-size: 35px;

}

.checkbox{
    margin:20px auto;
} 

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.colonna{
    float: left;
    height: 120vh;
    width: 30%;
    margin-right: 5%;
    border: 1px solid gray;
}

.colonna .blu{
    width: 100%;
}

.content{
    padding: 15px;
}

.single{
    text-align: center;
    border-bottom: 1px solid black ;
}

.colonna:last-child{
    margin-right: 0;
}

.col-title{
    margin-bottom: 10px;
}
/* margini */
.marginB-40{
    margin-bottom: 40px;
}

.marginB-30{
    margin-bottom: 30px;
}

.marginB-20{
    margin-bottom: 20px;
}

.marginR-5{
    margin-right: 5px;
}

.hr1{
    width: 50px;
}
/* colonna sotto */
#colonna-sotto{
    width: 100%;
    height: 30vh;
    border: 1px solid gray;
}

#bottom-title{
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 10px;
}

#bottom-content{
    width: 65%;
    float: left;
}

#bottom-content h3, h5, p{
    margin: 10px;
}

#par-col-sotto{
    font-size: 13px;
}

#bottom-button{
    width: 35%;
    float: right;
    padding: 20px;
}

#bottom-button button{
    width: 100%;
}
/* ul */
.colonna li{
    list-style: none;
    font-size: 15px;
    margin-bottom: 10%;
}

ul{
    padding:0;
}

.fa-check{
    color: rgb(0, 68, 255);
}
/* sezione 3 */
.sezione3{
    height: 100vh;
    width: 80%;
    margin-left: 10%;
    display: inline-block;
}
.sezione3 img{
    height: 400px;
}

#tit-sez3{
    float: right;
    width: 50%;
}

#parg-sez3{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.white{
    border: 1px solid black;
    padding: 10px;
}

.clearfix-2:after{
    content: "";
    display: table;
    clear: both;
}

.sez4{
    margin-left: 10%;
    height: 160vh;
}

.img-clear-2{
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.operazioni{
    width: calc(75% / 3);
    float: left;
    position: relative;
    margin: 20px;
    text-align: left;
}

.tit-operazioni{
    margin-bottom: 10px;
}

.container-img{
    width: 100%;
    height: 80vh;
}

#img-top{
    height: 45vh;
}

#img-left{
    height: 100%;
    width: 30%;
    float: left;
}

#img-center{
    height: 100%;
    width: 40%;
    float: left;
    background-color: lightgray;
}

#img-center img{
    height: 50px;
    margin:30px;

}

#par-img-center{
    margin-bottom: 30px;
}

#img-right{
    height: 100%;
    width: 30%;
    float: right;

}

.top-left{
    height: 50%;
    width: 50%;
    float: left;
    background-color: rgb(102, 177, 102);
    background-position: center;
}

.top-right{
    height: 50%;
    width: 50%;
    float: right;
    background-color: rgb(119, 20, 20);
}

.bottom-left{
    height: 50%;
    width: 50%;
    float: left;
    background-color: rgb(59, 123, 206);
}

.bottom-right{
    height: 50%;
    width: 50%;
    float: right;
    background-color: red;
    
}

.top-left img{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    filter: invert(1);
}

.top-right img{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    filter: invert(1);
}

.bottom-left img{
    height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    filter: invert(1);
}

.bottom-right img{
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    filter: invert(1);
}

#right1{
    background-color: red;
}

#right2{
    background-color: rgb(146, 173, 224);
}
#right2 img{
    height: 20px;
    margin-top: 70px;
}

#right3{
    background-color: rgb(3, 3, 148);
}
#right3 img{
    height: 50px;
    margin-top:50px;
}

#right4{
    background-color: yellow;
}

#img-bottom{
    height: 35vh;
    background-color: rgb(141, 198, 233);
}

.tit-5{
    font-size: 20px;
    margin-left: 15%;
    margin-bottom: 20px;
}

#link{
    margin-left: 15%;
}

#tit-bottom{
    margin-left: 10%;
    padding: 5%;
    display: inline-block;
    width: 40%;
    font-size: 30px;
    color: rgb(128, 13, 13);
}

#button-white{
    float: right;
    background-color: white;
    border: 1px solid white;
    padding: 4px;
    margin-right: 10%;
    margin-top: 5%;
    width: 20%;
}

.faq{
    width: 60%;
    margin-left: 15%;
    margin-top: 5%;
    height: 70vh;
}

#tit-faq{
    margin-bottom: 6%;
}

.faq1{
    margin-bottom: 3%;
    margin-top: 3%;
}

.fa-chevron-down{
    float: right;
}

#footer{
    width: 100%;
    height: 60vh;
    background-color: black;
}

.li-white{
    color: white;
    margin-bottom: 1%;
    list-style: none;
}

#menu-footer, .footer-bottom{
    width: 90%;
    margin: 4% auto;
    padding: 40px 0;
}

.tit-footer{
    color: white;
    margin-bottom: 2%;
}

.ul-footer{
    width: 20%;
    float: left;
    font-size: 15px;
    
}

.hr2{
    color: white;
    width: 50px;
}

#p-white{
    color: white;
}

.footer.bottom{
 background-color: black;
 height: 30vh;

}